# Copyright (c) 2021 The ZMK Contributors
# SPDX-License-Identifier: MIT

if SHIELD_HYPERGOLIC_LEFT

config ZMK_KEYBOARD_NAME
	default "Hypergolic"

config ZMK_SPLIT_ROLE_CENTRAL
	default y

endif

if SHIELD_HYPERGOLIC_LEFT || SHIELD_HYPERGOLIC_RIGHT

config ZMK_SPLIT
	default y

endif
