# Copyright (c) 2022 The ZMK Contributors
# SPDX-License-Identifier: MIT

if SHIELD_SWWEEEP_LEFT

config ZMK_KEYBOARD_NAME
	default "Swweeep"

config ZMK_SPLIT_ROLE_CENTRAL
	default y

endif

if SHIELD_SWWEEEP_LEFT || SHIELD_SWWEEEP_RIGHT

config ZMK_SPLIT
	default y

endif
