/* KEY POSITIONS (using keypos_def helpers)
╭─────────────────────┬─────────────────────╮
│ LT4 LT3 LT2 LT1 LT0 │ RT0 RT1 RT2 RT3 RT4 │
│ LM4 LM3 LM2 LM1 LM0 │ RM0 RM1 RM2 RM3 RM4 │
│ LB4 LB3 LB2 LB1 LB0 │ RB0 RB1 RB2 RB3 RB4 │
╰───────╮ LH2 LH1 LH0 │ RH0 RH1 RH2 ╭───────╯
        ╰─────────────┴─────────────╯       */

#define COMBO(NAME, BINDINGS, KEYPOS, LAYERS, TERM, QUICKTAP, ...) \
    combo_##NAME { \
        timeout-ms = <TERM>; \
        bindings = <BINDINGS>; \
        key-positions = <KEYPOS>; \
        layers = <LAYERS>; \
        require-prior-idle-ms = <QUICKTAP>; \
        __VA_ARGS__ \
    };

/ {
    combos {
        compatible = "zmk,combos";

COMBO(j,      &kp J,       LT2 LT1,     DEF,          80,  50)
COMBO(q,      &kp Q,       LT2 LT1,         BRD,      80,  50)
COMBO(v_brd,  &kp V,       LT3 LT2,         BRD,      80,  50)
COMBO(semi,   &kp SEMI,    RT1 RT2,     DEF BRD SYM,  40, 100)
COMBO(grave,  &kp GRAVE,   RT2 RT3,     DEF BRD,      40, 100)
COMBO(lpar,   &kp LPAR,    LM2 LM1,     DEF BRD,      40, 100)
COMBO(rpar,   &kp RPAR,    RM1 RM2,     DEF BRD,      40, 100)
COMBO(lbkt,   &kp LBKT,    LM3 LM2,     DEF BRD,      40, 100)
COMBO(rbkt,   &kp RBKT,    RM2 RM3,     DEF BRD,      40, 100)
COMBO(tab,    &kp TAB,     LM3 LM1,     DEF BRD SYM,  40, 150)
COMBO(del,    &kp DEL,     RM1 RM3,     DEF BRD SYM,  40, 150)
COMBO(esc,    &kp ESC,     LM3 LM2 LM1, DEF BRD SYM,  40,   0)
COMBO(ret,    &kp RET,     RM1 RM2 RM3, DEF BRD SYM,  40,   0)

COMBO(capswd, &caps_word,  LM1 RM1,     DEF BRD,      60, 200)

COMBO(lock,   &kp LG(L),   LT1 LT0,     DEF BRD,      80, 500)

COMBO(play,   &kp C_PP,    LT0 LM0,     NAV,         200, 200)

COMBO(boot,   &bootloader, LT0 RT0,     FUN,         100, 500)

COMBO(z,      &kp Z,       LB3 LB2,     DEF BRD,      80,  50)
COMBO(v,      &kp V,       LB2 LB1,     DEF,          40,  50)
COMBO(bslh,   &kp BSLH,    RB1 RB2,     DEF BRD,      80, 100)
COMBO(slsh,   &kp SLASH,   RB2 RB3,     DEF BRD SYM,  80,  50)

COMBO(f12,    &kp F12,     LB3 LB2,     FUN,         100, 200)
COMBO(btclr,  &bt BT_CLR,  RB2 RB3,     FUN,         100, 200)

#if defined(MOUSE_KEYS) && defined(LH1)
COMBO(mse_l,  &mo MSE,     LH1 LH0,     DEF BRD,     150,   0, slow-release;)
#endif
    };
};
