/*
*
* SPDX-License-Identifier: MIT
*
*/


/*
 Some combos need to be in specific places depending on
 the underlying alpha, esp H-Digraph combos. They are defined here.
*/


/*    KEY POSITION Names
    ╭─────────────────────╮ ╭─────────────────────╮
LT5 │ LT4 LT3 LT2 LT1 LT0 │ │ RT0 RT1 RT2 RT3 RT4 │ RT5
LM5 │ LM4 LM3 LM2 LM1 LM0 │ │ RM0 RM1 RM2 RM3 RM4 │ RM5
LB5 │ LB4 LB3 LB2 LB1 LB0 │ │ RB0 RB1 RB2 RB3 RB4 │ RB5
    ╰───────╮ LH3 LH2 LH1 | | RH1 RH2 RH3 ╭───────╯
            ╰─────────────╯ ╰─────────────╯
*/


//
// type a glyph (tiny board accommodation)
//
COMBO_LAYER(t_Q,     &lk_qu Q U,      LT3 LT1, l_alpha)
COMBO_LAYER(t_Z,     &ak_Z,           LM3 LM1, l_alpha)

#ifdef H_DIGRAPH_COMBOS
//
// H Digraphs REQUIRE macros/behaviors (defined earlier) to process
//
COMBO_LAYER(sch,    &t_Sch,         LM4  LM3 LM2, l_alpha)  // Sch
COMBO_LAYER(tch,    &t_Tch,         LM4  LM3 LM1, l_alpha)  // Tch
COMBO_LAYER(th,     &lk_th H T,     LM2 LM1, l_alpha)       // Th/sion
COMBO_LAYER(ch,     &t_Ch,          LM4 LM3, l_alpha)       // Ch
COMBO_LAYER(wh,     &t_Wh,          LB4 LB2, l_alpha)       // Wh * not ideal!
COMBO_LAYER(sh,     &lk_sh H S,     LM3 LM2, l_alpha)       // Sh/sion
COMBO_LAYER(gh,     &lk_gh H G,     LT3 LT2, l_alpha)       // Gh/ght
COMBO_LAYER(ph,     &t_Ph,          LB3 LB1, l_alpha)       // Ph
#endif

#ifdef EN_PRONOUN_COMBOS
//
// Pronoun combos REQUIRE macros to process
//

COMBO_LAYER(pnI,     &t_PnI,        RM3 RM4, l_alpha) // "I "
COMBO_LAYER(pnIm,    &t_PnIm,       RM3 LT2, l_alpha) // "I'm "
COMBO_LAYER(pnIll,   &t_PnIll,      RM3 LB2, l_alpha) // "I'll "
COMBO_LAYER(pnId,    &t_PnId,       RM3 LB1, l_alpha) // "I'd "
COMBO_LAYER(pnIve,   &t_PnIve,      RM3 LB0, l_alpha) // "I've "

COMBO_LAYER(pnYoure, &t_PnYoure,    RB3 LB4, l_alpha) // "You're "
COMBO_LAYER(pnYour,  &t_PnYour,     RB3 LB3, l_alpha) // "Your "
COMBO_LAYER(pnYoull, &t_PnYoull,    RB3 LB2, l_alpha) // "You'll "
COMBO_LAYER(pnYoud,  &t_PnYoud,     RB3 LB1, l_alpha) // "You'd "
COMBO_LAYER(pnYouve, &t_PnYouve,    RB3 LB0, l_alpha) // "You've "

COMBO_LAYER(pnWere,  &t_PnWere,     RB4 LT4, l_alpha) // "We're "
COMBO_LAYER(pnWell,  &t_PnWell,     RB4 LB2, l_alpha) // "We'll "
COMBO_LAYER(pnWed,   &t_PnWed,      RB4 LB1, l_alpha) // "We'd "
COMBO_LAYER(pnWeve,  &t_PnWeve,     RB4 LT0, l_alpha) // "We've "

COMBO_LAYER(pnWhere, &t_PnWhere,    RB4 LH1, l_alpha) // "Where "

#endif // EN_PRONOUN_COMBOS

// Japanese layer combos
COMBO_LAYER(wo,  &t_wo,     RB3 RB4, l_japan) // を
COMBO_LAYER(shi, &t_shi,    RM3 RM4, l_japan) // "わたし "
