/*
 * Copyright (c) 2021 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/outputs.h>

#define SYM 1
#define NAV 2
#define FUN 3

#define COMBO_TIMEOUT 60

&mt {
    flavor = "balanced";
    tapping_term_ms = <150>;
};

&lt {
    flavor = "balanced";
    tapping_term_ms = <150>;
};

/ {
    behaviors {
        am: alpha_mods {
            compatible = "zmk,behavior-hold-tap";
            label = "alpha mod-taps";
            #binding-cells = <2>;
            tapping_term_ms = <200>;
            flavor = "tap-preferred";
            bindings = <&kp>, <&kp>;
        };
    };

    combos {
        compatible = "zmk,combos";
        combo_grave {
            timeout-ms = <COMBO_TIMEOUT>;
            key-positions = <0 1>;
            bindings = <&kp GRAVE>;
        };
        combo_semi {
            timeout-ms = <COMBO_TIMEOUT>;
            key-positions = <6 7>;
            bindings = <&kp SEMI>;
        };
        combo_lpar {
            timeout-ms = <COMBO_TIMEOUT>;
            key-positions = <12 13>;
            bindings = <&kp LPAR>;
        };
        combo_rpar {
            timeout-ms = <COMBO_TIMEOUT>;
            key-positions = <16 17>;
            bindings = <&kp RPAR>;
        };
        combo_lbkt {
            timeout-ms = <COMBO_TIMEOUT>;
            key-positions = <11 12>;
            bindings = <&kp LBKT>;
        };
        combo_rbkt {
            timeout-ms = <COMBO_TIMEOUT>;
            key-positions = <17 18>;
            bindings = <&kp RBKT>;
        };
        combo_tab {
            timeout-ms = <COMBO_TIMEOUT>;
            key-positions = <11 13>;
            bindings = <&kp TAB>;
        };
        combo_bspc {
            timeout-ms = <COMBO_TIMEOUT>;
            key-positions = <16 18>;
            bindings = <&kp BSPC>;
        };
        combo_bslh {
            timeout-ms = <COMBO_TIMEOUT>;
            key-positions = <18 19>;
            bindings = <&kp BSLH>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
            &kp Q       &kp W      &kp E         &kp R &kp T    &kp Y         &kp U &kp I          &kp O        &kp P
            &kp A       &kp S      &kp D         &kp F &kp G    &kp H         &kp J &kp K          &kp L        &kp SQT
            &am LSHFT Z &am LGUI X &am RALT C    &kp V &kp B    &kp N         &kp M &am LALT COMMA &am RGUI DOT &am RCTRL FSLH
                                   &mt LCTRL ESC &lt NAV BSPC   &lt SYM SPACE &mt RSHFT RET
            >;
        };

        sym_layer {
            bindings = <
            &kp N1    &kp N2   &kp N3   &kp N4    &kp N5      &kp N6    &kp N7    &kp N8    &kp N9    &kp N0
            &kp EXCL  &kp AT   &kp HASH &kp DLLR  &kp PRCNT   &kp CARET &kp MINUS &kp UNDER &kp EQUAL &kp PLUS
            &kp LSHFT &kp LGUI &kp RALT &kp SEMI  &kp AMPS    &kp STAR  &kp BSLH  &kp LALT  &kp RGUI  &kp LSHFT
                                        &kp LCTRL &mo FUN     &trans    &kp LSHFT
            >;
        };

        nav_layer {
            bindings = <
            &kp LA(F4)       &kp LC(LS(TAB)) &kp LC(TAB)  &kp LC(F4)        &kp C_VOL_UP   &kp HOME &kp PG_DN &kp PG_UP  &kp END    &kp C_AL_CALC
            &kp LC(LG(LEFT)) &kp LALT        &kp TAB      &kp LC(LG(RIGHT)) &kp C_VOL_DN   &kp LEFT &kp DOWN  &kp UP     &kp RIGHT  &kp PAUSE_BREAK
            &kp LCTRL        &kp LGUI        &kp RALT     &kp LS(INS)       &kp C_PP       &kp INS  &kp DEL   &kp C_PREV &kp C_NEXT &kp PSCRN
                                             &kp LCTRL    &trans            &mo FUN        &kp LSHFT
            >;
        };

        fun_layer {
            bindings = <
            &kp F1    &kp F2    &kp F3   &kp F4       &kp F5    &kp CAPS   &kp KP_N7 &kp KP_N8      &kp KP_N9       &bt BT_CLR
            &kp F6    &kp F7    &kp F8   &kp F9       &kp F10   &kp KP_NUM &kp KP_N4 &kp KP_N5      &kp KP_N6       &reset
            &kp LSHFT &kp LCTRL &kp LALT &kp F11      &kp F12   &kp KP_N0  &kp KP_N1 &am LALT KP_N2 &am RCTRL KP_N3 &out OUT_TOG
                                         &bt BT_SEL 0 &trans    &trans     &bt BT_SEL 1 
            >;
        };
    };
};
