/*                KEY POSITIONS
34 keys:

  ╭────────────────────╮ ╭────────────────────╮
  │  0   1   2   3   4 │ │  5   6   7   8   9 │
  │ 10  11  12  13  14 │ │ 15  16  17  18  19 │
  │ 20  21  22  23  24 │ │ 25  26  27  28  29 │
  ╰───────────╮ 30  31 │ │ 32  33 ╭───────────╯
              ╰────────╯ ╰────────╯
*/

#define COMBO(NAME, BINDINGS, KEYPOS, LAYERS, TERM, QUICKTAP, ...) \
    combo_##NAME { \
        timeout-ms = <TERM>; \
        bindings = <BINDINGS>; \
        key-positions = <KEYPOS>; \
        layers = <LAYERS>; \
        require-prior-idle-ms = <QUICKTAP>; \
		__VA_ARGS__ \
    };

/ {
    combos {
        compatible = "zmk,combos";

COMBO(esc,    &kp ESC,            0  1, DEF,         80,  50)
COMBO(del,    &kp DEL,            8  9, DEF,         80,  50)
COMBO(tab_l,  &kp LC(LS(TAB)),    1  2, DEF,         80,  50)
COMBO(tab_r,  &kp LC(TAB),        7  8, DEF,         80,  50)
COMBO(win_p,  &kp LA(LS(TAB)),    2  3, DEF,         80,  50)
COMBO(win_n,  &kp LA(TAB),       6  7, DEF,         80,  50)

COMBO(lbkt,   &kp LBKT,   10 11, DEF MUN,      40, 100)
COMBO(rbkt,   &kp RBKT,   18 19, DEF MUN,      40, 100)
COMBO(lbrc,   &kp LEFT BRACE,     11 12, DEF MUN,      40, 100)
COMBO(rbrc,   &kp RIGHT BRACE,    17 18, DEF MUN,      40, 100)
COMBO(lpar,   &kp LPAR,   12 13, DEF MUN,      40, 100)
COMBO(rpar,   &kp RPAR,   16 17, DEF MUN,      40, 100)

COMBO(lthan,    &kp LESS THAN,    11 13, DEF BRD SYM,  40, 150)
COMBO(rthan,    &kp GREATER THAN, 16 18, DEF BRD SYM,  40, 150)

COMBO(mute,  &kp C_MUTE,     0  1, DEF MUN,      80,  50)
COMBO(pp,    &kp C_PP,      10 11, DEF MUN,      80,  50)
	};
};
