/*                KEY POSITIONS
30 keys:
  ╭────────────────────╮ ╭────────────────────╮
  │  0   1   2   3   4 │ │  5   6   7   8   9 │
  │ 10  11  12  13  14 │ │ 15  16  17  18  19 │
  ╰───╮ 20  21  22     │ │     23  24  25 ╭───╯
      ╰───────╮ 26  27 │ │ 28  29 ╭───────╯
              ╰────────╯ ╰────────╯ 
34 keys:
  ╭────────────────────╮ ╭────────────────────╮
  │  0   1   2   3   4 │ │  5   6   7   8   9 │
  │ 10  11  12  13  14 │ │ 15  16  17  18  19 │
  │ 20  21  22  23  24 │ │ 25  26  27  28  29 │
  ╰───────────╮ 30  31 │ │ 32  33 ╭───────────╯
              ╰────────╯ ╰────────╯
38 keys:
    ╭────────────────────╮ ╭────────────────────╮
    │  0   1   2   3   4 │ │  5   6   7   8   9 │
╭───╯ 10  11  12  13  14 │ │ 15  16  17  18  19 ╰──╮
│ 20  21  22  23  24  25 │ │ 26  27  28  29  30  31│
╰───────────────╮ 32  33 │ │ 34  35 ╭──────────────╯
                ╰────────╯ ╰────────╯
*/

#define COMBO(NAME, BINDINGS, KEYPOS, LAYERS, TERM, QUICKTAP, ...) \
    combo_##NAME { \
        timeout-ms = <TERM>; \
        bindings = <BINDINGS>; \
        key-positions = <KEYPOS>; \
        layers = <LAYERS>; \
        require-prior-idle-ms = <QUICKTAP>; \
		__VA_ARGS__ \
    };

/ {
    combos {
        compatible = "zmk,combos";

// horizontal same hand
COMBO(tab_l,  &kp LC(LS(TAB)),    1  2, DEF T3R,      80,  50)	//거짓양성
COMBO(tab_r,  &kp LC(TAB),        7  8, DEF T3R,      80,  50)
COMBO(win_p,  &kp LA(LS(TAB)),    2  3, DEF T3R,      40, 100)
COMBO(win_n,  &kp LA(TAB),        6  7, DEF T3R,      40, 100)
COMBO(winf4,  &kp LA(F4),         1  3, DEF T3R,      40, 150)
COMBO(tabf4,  &kp LC(F4),         6  8, DEF T3R,      40, 150)

COMBO(lbkt,   &kp LBKT,          11 12, DEF T3R,      40, 100)	// 거짓음성
COMBO(rbkt,   &kp RBKT,          17 18, DEF T3R,      40, 100)
COMBO(lpar,   &kp LPAR,          12 13, DEF T3R,      40, 100)
COMBO(rpar,   &kp RPAR,          16 17, DEF T3R,      40, 100)
COMBO(tab,    &kp TAB,           11 13, DEF T3R,      40, 150)
COMBO(del,    &kp DEL,           16 18, DEF T3R,      40, 150)

// vertical same hand
COMBO(mute,   &kp C_MUTE,         0 10, DEF T1L T3R, 200, 200)
COMBO(pp,     &kp C_PP,           4 14, T1L,         200, 200)

// horizontal corse hand
COMBO(capswd, &caps_word,        13 16, DEF T3R,      60, 200)

/*
거짓양성 콤보를 누르지 않았는데 누른 걸로 반응
같은 손 리퀴어프라이어아이들보다 탭핑텀을 증가. 다른 손 반대
거짓음성 콤보를 눌렀는데 누르지 않은 걸로 반응
같은 손 리퀴어프라이어아이들보다 탬핑텀을 감소. 다른 손 반대

보류
COMBO(esc,    &kp ESC,            0  1, DEF,          80,  50)
COMBO(del,    &kp DEL,            8  9, DEF,          80,  50)
COMBO(lock,   &kp LG(L),          3  4, DEF T3R,      80, 500)
COMBO(pp,     &kp C_PP,           4 14, T1L,         200, 200)
COMBO(semi,   &kp SEMI,          27 28, DEF,          40, 100)
COMBO(colon,  &kp COLON,         28 29, DEF,          40, 100)
*/

#ifdef MOUSE_KEYS
#    ifdef THREE_THUMBS
#        ifdef 30KEY
COMBO(mse_l,  &mo MSE,    31 32, DEF T3R,     150,   0, slow-release;)
#        else
COMBO(mse_l,  &mo MSE,    33 34, DEF T3R,     150,   0, slow-release;)
#        endif
#    else
#        ifdef 30KEY
COMBO(mse_l,  &mo MSE,    30 31, DEF T3R,     150,   0, slow-release;)
#        else
COMBO(mse_l,  &mo MSE,    32 33, DEF T3R,     150,   0, slow-release;)
#        endif
#    endif
#endif

	};
};
