manifest:
  remotes:
    - name: zmkfirmware
      url-base: https://github.com/zmkfirmware
    - name: caksoylar
      url-base: https://github.com/caksoylar
  projects:
    - name: zmk
      remote: zmkfirmware
      revision: abb64ba316c29caddc49727ca2cac2f0ed5970c7
      import: app/west.yml
    - name: zmk-rgbled-widget
      remote: caksoylar
      revision: main
    - name: zmk-smart-toggle
      remote: caksoylar
      revision: main
    - name: visorbearer-zmk-module
      url: https://github.com/carrefinho/visorbearer-zmk-module
      revision: 0158dcffd5df195ce767cf0403a289328a2cedc3
    - name: zmk-keyboards-adept
      remote: caksoylar
      revision: v0.3
      import: config/deps.yml
  self:
    path: config
