# Copyright (c) 2022 The ZMK Contributors
# SPDX-License-Identifier: MIT

config SHIELD_DUST_LEFT
    def_bool $(shields_list_contains,dust_left)

config SHIELD_DUST_RIGHT
    def_bool $(shields_list_contains,dust_right)