# Copyright (c) 2022 The ZMK Contributors
# SPDX-License-Identifier: MIT

if SHIELD_DUST_LEFT

config ZMK_KEYBOARD_NAME
    default "dust"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif

if SHIELD_DUST_LEFT || SHIELD_DUST_RIGHT
config ZMK_SPLIT
    default y
endif
