if SHIELD_ROMMANA_LEFT

config ZMK_KEYBOARD_NAME
    default "Rommana"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif

if SHIELD_ROMMANA_LEFT || SHIELD_ROMMANA_RIGHT

config ZMK_SPLIT
    default y

endif
