# Copyright (c) 2021 The ZMK Contributors
# SPDX-License-Identifier: MIT

if SHIELD_CHOC_ERGO_LEFT

config ZMK_KEYBOARD_NAME
	default "HexyChoc"

config ZMK_SPLIT_ROLE_CENTRAL
	default y

endif

if SHIELD_CHOC_ERGO_LEFT || SHIELD_CHOC_ERGO_RIGHT

config ZMK_SPLIT
	default y

endif
