#define ______  &trans

/*  Base (alpha) Layer  Hands Down Vibranium-vb
    Building for a 36/42 key board
     ╭─────────────────────╮ ╭──────────────────────╮
ESC  │  V   W   M   G   J  │ │  #$  .:  /*  "[  ']  │ BSP
TAB  │  S   C   N   T   K  | |  ,;   A   E   I   H  │ Tg(Num)
LSFT │  X   P   L   D   B  │ │  -+   U   O   Y   F  │ RSFT
     ╰──────╮  App BSP  R  │ │  SPC RET TAB  ╭──────╯
            ╰──────────────╯ ╰───────────────╯
*/


                l_alpha {
                        label = "HD-Vx";
                        bindings = <

&kp ESC  &ak_v   &ak_w   &ak_m   &ak_g   &ak_j           &HashDllr   &DotColn    &SlshStar   &DqtLbkt   &SqtRbkt &kp BSPC
&kp TAB &hml LCTRL S &hml LALT C   &hml LGUI N  &hrm_t LSHFT T &ak_k    &CmmaSemi   &hrm_a RSHFT A &hrm_e RGUI E  &hrm_i RALT I  &hmr RCTRL H &tog l_num
&kp LSHFT &ak_x   &ak_p   &kp L   &ak_d   &ak_b           &MinusPlus  &ak_u       &ak_o       &ak_y      &kp F &kp RSHFT

                        &AppSwitch &mm_bspc_del &lt l_nav R      &lt l_sym SPACE &lt l_nav RETURN  &tog l_num
                        >;
                };

                   l_akG {
                            bindings = <
______   &kp T    &kp D    &kp L    ______   ______       ______   ______   ______   ______   ______   ______
______   ______   ______   ______   ______   &ak_lk       ______   ______   ______   ______   ______   ______
______   ______   ______   ______   ______   ______       ______   ______   ______   ______   ______   ______
                           ______   ______   ______       ______   ______   ______
                            >;
                   };
                   l_akM {
                            bindings = <
______   &ak_lv   &ak_xp   ______   &ak_lg   &kp N        ______   ______   ______   ______   ______   ______
______   ______   ______   ______   ______   ______       ______   ______   ______   ______   ______   &kp SQT
______   ______   ______   ______   ______   ______       ______   ______   ______   ______   ______   ______
                           ______   ______   ______       ______   ______   ______
                            >;
                   };
                   l_akX {
                            bindings = <
______   ______   &ak_xp   &kp L    ______   ______       ______   ______   ______   ______   ______   ______
______   ______   ______   ______   ______   ______       ______   ______   ______   ______   ______   ______
______   ______   ______   ______   ______   ______       ______   ______   ______   ______   ______   ______
                           ______   ______   ______       ______   ______   ______
                            >;
                   };
                   l_akT {
                            bindings = <
______   ______   ______   ______   ______   ______       ______   ______   ______   ______   ______   ______
______   ______   &Ch      ______   ______   &ak_ck       ______   ______   ______   ______   ______   ______
______   ______   ______   ______   ______   &ak_mb       ______   ______   ______   ______   ______   ______
                           ______   ______   ______       ______   ______   ______
                            >;
                   };
                l_akC {
                        bindings = <
______   ______   &kp L    ______   ______   ______       ______   ______   ______   ______   ______   ______
______   ______   ______   ______   ______   ______       ______   ______   ______   ______   ______   ______
______   &ak_sb   ______   ______   ______   ______       ______   ______   ______   ______   ______   ______
                           ______   ______   ______       ______   ______   ______
                        >;
                };
                   l_akK {
                            bindings = <
______   ______   ______   ______   &kp L    ______       ______   ______   ______   ______   ______   ______
______   ______   ______   ______   &kp N    ______       ______   ______   ______   ______   ______   ______
______   ______   ______   ______   ______   ______       ______   ______   ______   ______   ______   ______
                           ______   ______   ______       ______   ______   ______
                            >;
                   };
                   l_akD {
                            bindings = <
______   &kp V    ______   ______   ______   ______       ______   ______   ______   ______   ______   ______
______   ______   ______   ______   ______   ______       ______   ______   ______   ______   ______   ______
______   &kp T    &kp G    ______   ______   &ak_lb       ______   ______   ______   ______   ______   ______
                           ______   ______   ______       ______   ______   ______
                            >;
                   };
                   l_akW {
                            bindings = <
______   &kp S    ______    &ak_lm  ______   ______       ______   ______   ______   ______   ______   ______
______   ______   ______   ______   ______   ______       ______   ______   ______   ______   ______   ______
______   ______   ______   ______   ______   ______       ______   ______   ______   ______   ______   ______
                           ______   ______   ______       ______   ______   ______
                            >;
                   };
                   l_akF {
                            bindings = <
______   ______   ______   ______   ______   ______       ______   ______   ______   ______   ______   ______
______   ______   ______   ______   ______   ______       ______   ______   ______   ______   ______   ______
______   ______   ______   ______   ______   ______       ______   ______   ______   ______   ______   ______
                           ______   ______   ______       ______   ______   ______
                            >;
                   };
                   l_akP {
                            bindings = <
______   ______   ______   ______   ______   ______       ______   ______   ______   ______   ______   ______
______   ______   ______   ______   ______   ______       ______   ______   ______   ______   ______   ______
______   &kp S    ______   ______   ______   ______       ______   ______   ______   ______   ______   ______
                           ______   ______   ______       ______   ______   ______
                            >;
                   };
                   l_akB {
                            bindings = <
______   ______   ______   ______   ______   ______       ______   ______   ______   ______   ______   ______
______   ______   ______   ______   ______   ______       ______   ______   ______   ______   ______   ______
______   &kp J    ______   ______   &kp L    ______       ______   ______   ______   ______   ______   ______
                           ______   ______   ______       ______   ______   ______
                            >;
                   };
                   l_akV {
                            bindings = <
______   ______   ______   &kp L    ______   ______       ______   ______   ______   ______   ______   ______
______   ______   ______   ______   ______   ______       ______   ______   ______   ______   ______   ______
______   ______   ______   ______   ______   ______       ______   ______   ______   ______   ______   ______
                           ______   ______   ______       ______   ______   ______
                            >;
                   };
                l_akJ {
                        bindings = <

______   ______   ______   ______   &l_j_g   ______       ______   ______   ______   ______   ______   ______
______   ______   ______   ______   ______   ______       ______   ______   ______   ______   &kp SQT  ______
______   ______   ______   ______   ______   ______       ______   ______   ______   ______   &kp I    ______
                           ______   ______   ______       ______   ______   ______
                        >;
                };



                   l_akA {
                            bindings = <
______   ______   ______   ______   ______   ______       ______   ______   ______   ______   &kp U    ______
______   ______   ______   ______   ______   ______       ______   ______   ______   ______   ______   ______
______   ______   ______   ______   ______   ______       ______   ______   ______   ______   ______   ______
                           ______   ______   ______       ______   ______   ______
                            >;
                   };

                   l_akU {
                            bindings = <
______   ______   ______   ______   ______   ______       ______   ______   ______   ______   &kp A    ______
______   ______   ______   ______   ______   ______       ______   ______   ______   ______   ______   ______
______   ______   ______   ______   ______   ______       ______   ______   ______   ______   ______   ______
                           ______   ______   ______       ______   ______   ______
                            >;
                   };

                   l_akE {
                            bindings = <
______   ______   ______   ______   ______   ______       ______   ______   ______   ______   &kp O    ______
______   ______   ______   ______   ______   ______       ______   ______   ______   ______   ______   ______
______   ______   ______   ______   ______   ______       ______   ______   ______   ______   ______   ______
                           ______   ______   ______       ______   ______   ______
                            >;
                   };
                   l_akO {
                            bindings = <
______   ______   ______   ______   ______   ______       ______   ______   ______   ______   &kp E    ______
______   ______   ______   ______   ______   ______       ______   ______   ______   ______   ______   ______
______   ______   ______   ______   ______   ______       ______   ______   ______   ______   ______   ______
                           ______   ______   ______       ______   ______   ______
                            >;
                   };
                   l_akI {
                            bindings = <
______   ______   ______   ______   ______   ______       ______   ______   ______   ______   ______   ______
______   ______   ______   ______   ______   ______       ______   ______   ______   ______   &kp F    ______
______   ______   ______   ______   ______   ______       ______   ______   ______   ______   ______   ______
                           ______   ______   ______       ______   ______   ______
                            >;
                   };

                   l_akDot {
                            bindings = <
______   ______   ______   ______   ______   ______       ______   ______   &dotcom  &dotedu &dotorg   ______
______   ______   ______   ______   ______   ______       ______   ______   ______   ______   ______   ______
______   ______   ______   ______   ______   ______       ______   ______   ______   ______   ______   ______
                           ______   ______   ______       ______   ______   ______
                            >;
                   };

#ifdef COMMA_CAP
                l_CCaps {
                        bindings = <

&kp LS(V)   &kp LS(W)   &kp LS(M)   &kp LS(G)   &kp LS(J)       ______  ______  ______  ______  ______
&kp LS(S)   &kp LS(C)   &kp LS(N)   &kp LS(T)   &kp LS(K)       &caps_word  &kp LS(A)   &kp LS(E)   &kp LS(I)   &kp LS(H)
&kp LS(X)   &kp LS(P)   &kp LS(L)   &kp LS(D)   &kp LS(B)       &kp LS(V)   &kp LS(U)   &kp LS(O)   &kp LS(Y)   &kp LS(F)
                                    ______      &kp LS(R)       &CmmaSpc ______
                        >;
                };

#endif
#ifdef COMMA_CAP2
                l_CCaps {
                        bindings = <

&cc X l_akX   &cc W l_akW   &cc M l_akM   &cc G l_akG   &cc J l_akJ    &HashDllr   &DotColn        &SlshStar      &DqtLbkt       &SqtRbkt
&cc S l_alpha &cc C l_alpha &cc N l_alpha &cc T l_akT   &cc K l_akK    &kp CMMA    &cc A l_akA     &cc E l_akE    &cc I l_akI    &cc H l_alpha
&cc B l_akB   &cc P l_akP   &cc L l_alpha &cc D l_akD   &cc V l_akV    &MinusPlus  &cc U l_akU     &cc O l_akO    &cc Y l_akJ    &cc F l_alpha

                &mm_bspc_del &lt l_nav R      &lt l_sym SPACE &lt l_nav RETURN
                        >;
                };

#endif
