#define ______  &trans

/*  Base (alpha) Layer  Hands Down Vibranium-vb
    Building for a 36/42 key board
     ╭─────────────────────╮ ╭──────────────────────╮
ESC  │  X   W   M   G   J  │ │  #$  .:  /*  "[  ']  │ BSP
TAB  │  S   C   N   T   K  | |  ,;   A   E   I   H  │ Tg(Num)
LSFT │  B   P   L   D   V  │ │  -+   U   O   Y   F  │ RSFT
     ╰──────╮  App BSP  R  │ │  SPC RET TAB  ╭──────╯
            ╰──────────────╯ ╰───────────────╯
*/


                l_alpha {
                        label = "HD-Vb";
                        bindings = <

&kp ESC  &ak_x   &ak_w   &ak_m   &ak_g   &ak_j           &HashDllr   &DotColn    &SlshStar   &DqtLbkt   &SqtRbkt &kp BSPC
&kp TAB &hml LCTRL S &hml LALT C   &hml LGUI N  &hrm_t LSHFT T &ak_k    &CmmaSemi   &hrm_a RSHFT A &hrm_e RGUI E  &hrm_i RALT I  &hmr RCTRL H &tog l_num
&kp LSHFT &ak_b   &ak_p   &kp L   &ak_d   &ak_v           &MinusPlus  &ak_u       &ak_o       &ak_y      &kp F &kp RSHFT

                        &AppSwitch &mm_bspc_del &lt l_nav R      &lt l_sym SPACE &lt l_nav RETURN  &lt l_num TAB
                        >;
                };

                   l_akG {
                            label = "l_akG";
                            bindings = <
______   &kp T    &kp D    &kp L    ______   ______       ______   ______   ______   ______   ______   ______
______   ______   ______   ______   ______   &ak_lk       ______   ______   ______   ______   ______   ______
______   ______   ______   ______   ______   ______       ______   ______   ______   ______   ______   ______
                           ______   ______   ______       ______   ______   ______
                            >;
                   };
                   l_akM {
                            label = "l_akM";
                            bindings = <
______   &kp F    &kp L    ______   &ak_lg   ______       ______   ______   ______   ______   ______   ______
______   ______   ______   ______   ______   ______       ______   ______   ______   ______   ______   ______
______   ______   ______   ______   ______   ______       ______   ______   ______   ______   ______   ______
                           ______   ______   ______       ______   ______   ______
                            >;
                   };
                   l_akX {
                            label = "l_akX";
                            bindings = <
______   ______   &ak_xp   &kp L    ______   ______       ______   ______   ______   ______   ______   ______
______   ______   ______   ______   ______   ______       ______   ______   ______   ______   ______   ______
______   &kp T    &kp G    ______   &kp P    ______       ______   ______   ______   ______   ______   ______
                           ______   ______   ______       ______   ______   ______
                            >;
                   };
                   l_akT {
                            label = "l_akT";
                            bindings = <
______   ______   ______   ______   ______   ______       ______   ______   ______   ______   ______   ______
______   ______   &Ch      ______   ______   &ak_ck       ______   ______   ______   ______   ______   ______
______   ______   ______   ______   ______   ______       ______   ______   ______   ______   ______   ______
                           ______   ______   ______       ______   ______   ______
                            >;
                   };
                l_akC {
                        label = "l_akC";
                        bindings = <
______   ______   ______   ______   ______   ______       ______   ______   ______   ______   ______   ______
______   ______   ______   ______   ______   ______       ______   ______   ______   ______   ______   ______
______   &ak_sb   ______   ______   ______   ______       ______   ______   ______   ______   ______   ______
                           ______   ______   ______       ______   ______   ______
                        >;
                };
                   l_akK {
                            label = "l_akK";
                            bindings = <
______   ______   ______   ______   &kp L    ______       ______   ______   ______   ______   ______   ______
______   ______   ______   ______   &kp N    ______       ______   ______   ______   ______   ______   ______
______   ______   ______   ______   ______   ______       ______   ______   ______   ______   ______   ______
                           ______   ______   ______       ______   ______   ______
                            >;
                   };
                   l_akD {
                            label = "l_akD";
                            bindings = <
______   &kp V    ______   ______   ______   ______       ______   ______   ______   ______   ______   ______
______   ______   ______   ______   ______   ______       ______   ______   ______   ______   ______   ______
______   &kp T    &kp G    ______   ______   ______       ______   ______   ______   ______   ______   ______
                           ______   ______   ______       ______   ______   ______
                            >;
                   };
                   l_akW {
                            label = "l_akW";
                            bindings = <
______   &kp S    ______    &ak_lm  ______   ______       ______   ______   ______   ______   ______   ______
______   ______   ______   ______   ______   ______       ______   ______   ______   ______   ______   ______
______   ______   ______   ______   ______   ______       ______   ______   ______   ______   ______   ______
                           ______   ______   ______       ______   ______   ______
                            >;
                   };
                   l_akF {
                            label = "l_akF";
                            bindings = <
______   ______   ______   ______   ______   ______       ______   ______   ______   ______   ______   ______
______   ______   ______   ______   ______   ______       ______   ______   ______   ______   ______   ______
______   ______   ______   ______   ______   ______       ______   ______   ______   ______   ______   ______
                           ______   ______   ______       ______   ______   ______
                            >;
                   };
                   l_akP {
                            label = "l_akP";
                            bindings = <
______   ______   ______   ______   ______   ______       ______   ______   ______   ______   ______   ______
______   ______   ______   ______   ______   ______       ______   ______   ______   ______   ______   ______
______   ______   &ak_sb   ______   ______   ______       ______   ______   ______   ______   ______   ______
                           ______   ______   ______       ______   ______   ______
                            >;
                   };
                   l_akB {
                            label = "l_akB";
                            bindings = <
______   ______   ______   ______   ______   ______       ______   ______   ______   ______   ______   ______
______   ______   &kp S    ______   ______   ______       ______   ______   ______   ______   ______   ______
______   ______   &ak_sp   ______   ______   ______       ______   ______   ______   ______   ______   ______
                           ______   ______   ______       ______   ______   ______
                            >;
                   };
                   l_akV {
                            label = "l_akV";
                            bindings = <
______   ______   ______   ______   ______   ______       ______   ______   ______   ______   ______   ______
______   ______   ______   ______   ______   ______       ______   ______   ______   ______   ______   ______
______   ______   ______   ______   ______   ______       ______   ______   ______   ______   ______   ______
                           ______   ______   ______       ______   ______   ______
                            >;
                   };
                l_akJ {
                        label = "l_akJ";
                        bindings = <

______   ______   ______   ______   &l_j_g   ______       ______   ______   ______   ______   ______   ______
______   ______   ______   ______   ______   ______       ______   ______   ______   ______   &kp SQT  ______
______   ______   ______   ______   ______   ______       ______   ______   ______   ______   &kp I    ______
                           ______   ______   ______       ______   ______   ______
                        >;
                };


                   l_akA {
                            label = "l_akA";
                            bindings = <
______   ______   ______   ______   ______   ______       ______   ______   ______   ______   ______   ______
______   ______   ______   ______   ______   ______       ______   ______   ______   ______   &kp U    ______
______   ______   ______   ______   ______   ______       ______   ______   ______   ______   ______   ______
                           ______   ______   ______       ______   ______   ______
                            >;
                   };

                   l_akU {
                            label = "l_akU";
                            bindings = <
______   ______   ______   ______   ______   ______       ______   ______   ______   ______   ______   ______
______   ______   ______   ______   ______   ______       ______   ______   ______   ______   &kp A    ______
______   ______   ______   ______   ______   ______       ______   ______   ______   ______   ______   ______
                           ______   ______   ______       ______   ______   ______
                            >;
                   };

                   l_akE {
                            label = "l_akE";
                            bindings = <
______   ______   ______   ______   ______   ______       ______   ______   ______   ______   ______   ______
______   ______   ______   ______   ______   ______       ______   ______   ______   ______   &kp O    ______
______   ______   ______   ______   ______   ______       ______   ______   ______   ______   ______   ______
                           ______   ______   ______       ______   ______   ______
                            >;
                   };
                   l_akO {
                            label = "l_akO";
                            bindings = <
______   ______   ______   ______   ______   ______       ______   ______   ______   ______   ______   ______
______   ______   ______   ______   ______   ______       ______   ______   ______   ______   &kp E    ______
______   ______   ______   ______   ______   ______       ______   ______   ______   ______   ______   ______
                           ______   ______   ______       ______   ______   ______
                            >;
                   };
                   l_akI {
                            label = "l_akI";
                            bindings = <
______   ______   ______   ______   ______   ______       ______   ______   ______   ______   ______   ______
______   ______   ______   ______   ______   ______       ______   ______   ______   ______   &kp F    ______
______   ______   ______   ______   ______   ______       ______   ______   ______   ______   ______   ______
                           ______   ______   ______       ______   ______   ______
                            >;
                   };
                   l_akJ {
                            label = "l_akJ";
                            bindings = <
______   ______   ______   ______   &l_j_g   ______       ______   &kp U    &l_j_o   &l_j_y   &kp I    ______
______   ______   ______   ______   ______   ______       ______   ______   ______   ______   ______   ______
______   ______   ______   ______   ______   ______       ______   ______   ______   ______   &kp I    ______
                           ______   ______   ______       ______   ______   ______
                            >;
                   };

                   l_akDot {
                            label = "l_akDot";
                            bindings = <
______   ______   ______   ______   ______   ______       ______   ______   &dotcom  &dotedu  ______   ______
______   ______   ______   ______   ______   ______       ______   ______   ______   ______   ______   ______
______   ______   ______   ______   ______   ______       ______   ______   ______   ______   ______   ______
                           ______   ______   ______       ______   ______   ______
                            >;
                   };
